<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class = "dropdown-unreturned">
    <div class="dropdown">
        <h2>Choose location to view films not returned</h2>
    </br>Select Store:</br>
        <button class="dropbtn">Unreturned By Store</button>
        <div class="dropdown-content">
            <% if (stores.length > 0) { %>
                <% stores.forEach(store => { %> 
                    <b
                    ><a href="unreturned/<%=store.store_id %>"
                      ><%= store.store_name %></a
                    ></b
                  >
                <% }) %>
            <% } %>
        </div>
    </div>
</div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
